# Created by .ignore support plugin (hsz.mobi)
.idea/
.target/
target/archive-tmp/
target/classes/benchmarks/PresentationJsonSmall.iq
target/classes/benchmarks/PresentationJsonSmallWhere.iq
target/classes/benchmarks/PresentationParallelize.iq
target/classes/benchmarks/partitions/reddit-full/
target/classes/benchmarks/runtime-reddit-full/
target/classes/benchmarks/runtime-reddit-small/
target/classes/sparksoniq/
target/classes/test_files/runtime-spark/GroupByVarReuse.iq
target/classes/test_files/runtime-spark/NonAtomic.iq
target/classes/test_files/runtime-spark/Primes.iq
target/classes/test_files/runtime-spark/TakeRdd.iq
target/classes/test_files/runtime/DuplicateKeys.iq
target/classes/test_files/runtime/InvalidArrayLookup.iq
target/classes/test_files/runtime/InvalidArrayLookup2.iq
target/classes/test_files/runtime/Keywords1.iq
target/classes/test_files/runtime/Keywords2.iq
target/classes/test_files/runtime/RepresentationError.iq
target/classes/test_files/runtime/UnexpectedType1.iq
target/classes/test_files/runtime/UnexpectedType2.iq
target/classes/test_files/runtime/UnexpectedType3.iq
target/classes/test_files/runtime/UnexpectedType4.iq
target/classes/test_files/runtime/UnexpectedType5.iq
target/classes/test_files/runtime/UnexpectedType6.iq
target/classes/test_files/unsupported/JsoniqVersion.iq-HOLD
target/classes/test_files/unsupported/ModuleImport.iq-HOLD
target/generated-sources/
target/jsoniq-spark-app-1.0-jar-with-dependencies.jar
