# Created by .ignore support plugin (hsz.mobi)
/src/main/java/sparksoniq/jsoniq/compiler/parser/JsoniqLexer.tokens
/src/main/java/sparksoniq/jsoniq/compiler/parser/Jsoniq.tokens
/src/main/java/sparksoniq/jsoniq/compiler/parser/JsoniqLexer.java
/src/main/java/sparksoniq/jsoniq/compiler/parser/JsoniqVisitor.java
/src/main/java/sparksoniq/jsoniq/compiler/parser/JsoniqBaseVisitor.java
/src/main/java/sparksoniq/jsoniq/compiler/parser/JsoniqParser.java
.idea/.name
.idea/ant.xml
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_clearspring_analytics_stream_2_7_0.xml
.idea/libraries/Maven__com_esotericsoftware_kryo_4_0_0.xml
.idea/libraries/Maven__com_esotericsoftware_minlog_1_3_0.xml
.idea/libraries/Maven__com_esotericsoftware_reflectasm_1_11_3.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_guava_guava_14_0_1.xml
.idea/libraries/Maven__com_google_inject_guice_3_0.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_2_5_0.xml
.idea/libraries/Maven__com_ning_compress_lzf_1_0_3.xml
.idea/libraries/Maven__com_thoughtworks_paranamer_paranamer_2_6.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_7_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_core_1_8_0.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_3.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_configuration_commons_configuration_1_6.xml
.idea/libraries/Maven__commons_digester_commons_digester_1_8.xml
.idea/libraries/Maven__commons_httpclient_commons_httpclient_3_1.xml
.idea/libraries/Maven__commons_net_commons_net_2_2.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_core_3_1_2.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_graphite_3_1_2.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_json_3_1_2.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_jvm_3_1_2.xml
.idea/libraries/Maven__io_netty_netty_3_8_0_Final.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__net_java_dev_jets3t_jets3t_0_7_1.xml
.idea/libraries/Maven__net_jpountz_lz4_lz4_1_3_0.xml
.idea/libraries/Maven__org_antlr_antlr4_runtime_4_6.xml
.idea/libraries/Maven__org_apache_avro_avro_1_7_7.xml
.idea/libraries/Maven__org_apache_avro_avro_ipc_1_7_7.xml
.idea/libraries/Maven__org_apache_avro_avro_ipc_tests_1_7_7.xml
.idea/libraries/Maven__org_apache_avro_avro_mapred_hadoop2_1_7_7.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_4_1.xml
.idea/libraries/Maven__org_apache_commons_commons_math3_3_4_1.xml
.idea/libraries/Maven__org_apache_commons_commons_math_2_1.xml
.idea/libraries/Maven__org_apache_curator_curator_client_2_4_0.xml
.idea/libraries/Maven__org_apache_curator_curator_framework_2_4_0.xml
.idea/libraries/Maven__org_apache_curator_curator_recipes_2_4_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_annotations_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_auth_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_client_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_common_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_hdfs_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_app_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_common_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_core_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_jobclient_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_shuffle_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_api_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_client_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_common_2_2_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_server_common_2_2_0.xml
.idea/libraries/Maven__org_apache_ivy_ivy_2_4_0.xml
.idea/libraries/Maven__org_apache_xbean_xbean_asm5_shaded_4_4.xml
.idea/libraries/Maven__org_apache_zookeeper_zookeeper_3_4_5.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
.idea/libraries/Maven__org_fusesource_leveldbjni_leveldbjni_all_1_8.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_jline_jline_3_2_0.xml
.idea/libraries/Maven__org_json_json_20160810.xml
.idea/libraries/Maven__org_mortbay_jetty_jetty_util_6_1_26.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_2.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_roaringbitmap_RoaringBitmap_0_5_11.xml
.idea/libraries/Maven__org_spark_project_spark_unused_1_0_0.xml
.idea/libraries/Maven__org_tukaani_xz_1_0.xml
.idea/libraries/Maven__oro_oro_2_0_8.xml
.idea/libraries/Maven__xmlenc_xmlenc_0_52.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
target/archive-tmp/
target/generated-sources/
target/generated-test-sources/
target/test-classes/
target/*
.idea/*
